.infoBox__total{
    color:#80ffdb;
}

.Box{
    color:#80ffdb;
    border-radius:12px;
}


.infoBox--selected {
    border-top: 10px solid rgb(206, 243, 73);
  }
  
  .infoBox--red {
    border-color: rgb(247, 34, 34);
  }
  
  .infoBox__cases--green {
    color: rgb(186, 243, 93) !important;
  }
  
  .infoBox__cases {
    color: #e4a41bfb;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }
  
  .infoBox__total {
    color: #80ffdb;
    font-family: Nunito;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
  }