
.loader{
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;

}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

  
  * {
    margin: 0;
    
  }

  .fas{
    color:#80ffdb;
    font-size: 3rem;
    cursor: pointer;
    marker: inherit;

  }
  .fa-bars:before{
    position: fixed;
    z-index: 2;
  }

/* .drawer{
  width:70px;
  height: 100%;
} */

/* .header{
  height:100%;
} */

.MuiMenu-list
{
background-color: #24364E;
color:#80ffdb;
border-radius:12px;
}
.MuiMenu-list-light{
  background-color: #24364E;
  color:#80ffdb;
}


.MuiMenu-paper::-webkit-scrollbar{
  background-color: #024366;
}


  .left{
    position:absolute;
    width:50px;
    height:100%;

  }
  body {
    background-color: #f5f6fa;
    font-family: 'Nunito';
    text-align: center;
  }
  
  .app {
    display: flex;
    justify-content: space-between !important ;
    background-color: rgb(15,23,36);
    padding-top: 5%;
  
  }
  
  .app__dropdown {
    background-color: #7796C2;
    border-radius: 12px;
  }
  .app__dropdown-dark
  {
    background-color: #F6F6F7;
    border-radius: 12px;
  }

  
  .right_div{
    background-color:#24364E;
  }
  
  .app__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
  }
  
  .app__header > h1 {
    color: #80ffdb;
    font-size: 2rem;
   
  }
  
  .app__stats {
    display: flex;
    justify-content: space-evenly;
  }

  .MuiCardContent-root 
  {
    background-color: #24364E;
  }

.globe .globe2{
  background-color: #24364E;

}
.globe{
  height:500px;
}
  .app__left {
    flex: 0.9;
    
  }
  /* .app__right{
    width:510px;
  } */
 
  .app__information > h3 {
    color: #7796C2;
    background-color: #024366;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .app__information > h3:last-of-type {
    margin-top: 1rem;
  }

  @media (max-width: 990px) {
    .app {
      flex-direction: column;
    }
  }


  .virus{
    width:20px;
    height:20px;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes spin{
    from{
      transform:rotate(0);
    }
    to{
      transform: rotate(360);
    }
  }


  .MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
  background-color: #24364E;
  color: #F6F6F7;
}